.chat{
  flex: 1;
  background-color: #181818;
  padding: 10px 0;
  &::-webkit-scrollbar{
    width: 5px;
  }
  &::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track{
    background: rgba(241,241,241,0.5);
    border-radius: 50px;
  }
}
.back-bot{
  position: fixed !important;
  opacity: 0;
  bottom: 115px;
  transition: all .3s;
  visibility: hidden;
  &.uk-open{
    opacity: 1;
    visibility: visible;
  }
  img{
    width: 38px;
  }
}
.name{
  a{
    color: #a0aaab;
  }
}
.desc{
  background-color: #333333;
  padding: 6px 12px;
  color: #ffffff;
  border-radius: 16px;
  display: inline-block;
  a{
    color: #2d9ab9;
    font-weight: bold;
  }
}
.fan{
  bottom: -15px;
  right: -5px;
}
.btn{
  line-height: 20px;
  padding: 0 8px;
  img{
    height: 13px;
  }
}
.btn1{
  background-color: #000000;
  border-color: #000000;
  &:hover{
    background-color: #fd3939;
    border-color: #fd3939;
  }
}
.btn2{
  @extend .btn1;
  &:hover{
    background-color: #c88800;
    border-color: #c88800;
  }
}
.tmp{
  &:first-child{
    .desc{
      border-top-left-radius: 16px;
      border-bottom-left-radius: 0;
    }
  }
  &:last-child{
    .desc{
      border-bottom-left-radius: 16px !important;
    }
  }
  &:not(:nth-child(n+2)){
    .desc{
      border-top-left-radius: 0;
    }
  }
  &:nth-child(n+2){
    margin-top: 3px;
    .desc{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
.item{
  &:nth-child(n+2){
    margin-top: 10px;
  }
  .top{
    margin-bottom: 5px;
  }
}
.title_send{
  font-size: 14px;
  color: #ffcf35;
  margin: 0;
}
.avarta1{
  border: 2px solid transparent;
  &.uk-open{
    border-color: #8cba3f;
  }
}